@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-*: initial;
  --color-deep-black: #0d0d0d;
  --color-industrial: #1f1f1f;
  --color-matcha: #98c379;
  --color-wasabi: #a3b9a2;
  --color-rice: #f5f3f0;
  --color-core-pink: #f472b6;

  --spacing-line: 5px;
  --spacing-space-line: 1rem;
}

:root {
  background-color: var(--color-rice);
}

@utility grid-simple {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap, 1rem);
  margin-top: 5rem;
}

p {
  margin-bottom: 1lh;
}

p strong {
  @apply text-matcha dark:text-wasabi font-bold dark:font-semibold;
}

.item {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  @apply border-matcha dark:border-core-pink flex cursor-pointer justify-center rounded-[12px] border-[3px] p-6;
}

.item:hover {
  @apply border-core-pink dark:border-wasabi;
}

/*** AccentHeading shared component ***/
@layer components {
  .letter-line {
    display: flex;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    gap: 1rem;
  }

  .letter-line--baseline {
    align-items: baseline;
  }

  .letter-line--center {
    align-items: center;
  }

  .letter-line--animation {
    animation: slide-in 2s 0.1s forwards;
  }

  .letter-line::after {
    content: '';
    flex-grow: 1;
    height: 5px;
    background-color: var(--color-core-pink);
  }

  .letter-line--animation::after {
    animation: color_bar 3s infinite;
  }

  .letter-line h1 {
    font-weight: 700;
    font-size: calc(12px + 7vw);
  }

  .letter-line h2 {
    font-weight: 600;
    font-size: calc(12px + 3vw);
  }

  .letter-line h3 {
    font-weight: 500;
    font-size: calc(12px + 2vw);
  }

  .letter-line p {
    font-size: clamp(1rem, 2.5vw, 1.125rem);
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes color_bar {
    0% {
      background-color: var(--color-core-pink);
    }

    50% {
      background-color: var(--color-wasabi);
    }

    100% {
      background-color: var(--color-core-pink);
    }
  }
}

/** Card Shared component **/
@layer components {
  .card {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 10%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
}

/** Header Shared component **/

.title-header {
  padding: 2em;
  position: sticky;
  background-color: var(--color-rice);
  top: 0;
  bottom: 0;
  z-index: 1;
}
