@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    --color-deep-black: hsl(0, 0%, 5%);
    --color-industrial: hsl(0, 0%, 12%);
    --color-matcha: hsl(96, 38%, 62%);
    --color-wasabi: hsl(111, 18%, 68%);
    --color-rice: hsl(36, 27%, 95%);
    --color-core-pink: hsl(330, 87%, 70%);
    --spacing-space-line: 1rem;
    background: var(--color-deep-black);
  }

  :root[data-theme='light'] {
    --color-deep-black: hsl(0, 0%, 100%);
    --color-industrial: hsl(0, 0%, 95%);
    --color-matcha: hsl(96, 38%, 42%);
    --color-wasabi: hsl(111, 18%, 38%);
    --color-rice: hsl(36, 27%, 5%);
    --color-core-pink: hsl(330, 87%, 45%);
    background: var(--color-deep-black);
  }
}

@theme {
  --color-matcha: var(--color-matcha);
  --color-wasabi: var(--color-wasabi);
  --color-rice: var(--color-rice);
  --color-core-pink: var(--color-core-pink);
  --color-deep-black: var(--color-deep-black);
  --color-industrial: var(--color-industrial);
  --spacing-line: var(--spacing-space-line);
}

@utility grid-simple {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--gap, 1rem);
  margin-top: 5rem;
}

p {
  margin-bottom: 1lh;
}

p strong {
  @apply text-matcha dark:text-wasabi font-bold dark:font-semibold;
}

.item {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  @apply border-matcha dark:border-core-pink flex cursor-pointer justify-center rounded-[12px] border-[3px] p-6;
}

.item:hover {
  @apply border-core-pink dark:border-wasabi;
}

/*** AccentHeading shared component ***/
@layer components {
  .letter-line {
    display: flex;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    gap: 1rem;
  }

  .letter-line--baseline {
    align-items: baseline;
  }

  .letter-line--center {
    align-items: center;
  }

  .letter-line--animation {
    animation: slide-in 2s 0.1s forwards;
  }

  .letter-line::after {
    content: '';
    flex-grow: 1;
    height: 5px;
    background-color: var(--color-core-pink);
  }

  .letter-line--animation::after {
    animation: color_bar 3s infinite;
  }

  .letter-line h1 {
    font-weight: 700;
    font-size: calc(12px + 7vw);
  }

  .letter-line h2 {
    font-weight: 600;
    font-size: calc(12px + 3vw);
  }

  .letter-line h3 {
    font-weight: 500;
    font-size: calc(12px + 2vw);
  }

  .letter-line p {
    font-size: clamp(1rem, 2.5vw, 1.125rem);
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes color_bar {
    0% {
      background-color: var(--color-core-pink);
    }

    50% {
      background-color: var(--color-wasabi);
    }

    100% {
      background-color: var(--color-core-pink);
    }
  }
}

/** Card Shared component **/
@layer components {
  .card {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 10%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
}

/** Header Shared component **/

.title-header {
  padding: 2em;
  position: sticky;
  background-color: var(--color-rice);
  top: 0;
  bottom: 0;
  z-index: 1;
}

.background-profile {
}
