---
import Footer from '@/components/Footer.astro'
import AboutMe from '@/components/sections/AboutMe.astro'
import Technologies from '@/components/sections/Technologies.astro'
import Experience from '@/components/sections/Experience.astro'
import FlatIcon from '@/icons/FlatIcon.astro'
import NavBar from '@/components/NavBar.astro'
import Media from '@/components/Media.astro'
import {
  AccentHeadingSubtitle,
  AccentHeadingTitle,
} from '@/shared/components/AccentHeading/AccentHeading'
---

<div id="container">
  <NavBar />
  <main class="w-full">
    <article
      class="flex h-dvh w-screen flex-col items-center justify-center [background:radial-gradient(100%_30%_at_0%_1%,#F472B6_22%,#F5F3F0_100%)] dark:[background:radial-gradient(100%_20%_at_30%_2%,#A3B9A2_1%,#0D0D0D_100%)]"
    >
      <div class="w-5/6 p-3">
        <AccentHeadingTitle color="rice" animation="true" position="baseline"
          >CARLOS V</AccentHeadingTitle
        >
        <AccentHeadingSubtitle color="wasabi" animation="true" position="baseline"
          >Frontend Developer</AccentHeadingSubtitle
        >
        <p class="text-rice mt-10 text-sm sm:text-xl">
          Me apasiona crear software <strong>eficiente</strong>, <strong>escalable</strong>
          y orientado a brindar la mejor <strong>experiencia de usuario</strong>.
        </p>
        <div class="m-10 flex items-center gap-5">
          <FlatIcon class="text-core-pink h-10 w-10" />
          <span class="text-matcha text-sm">Disponible para nuevas oportunidades</span>
        </div>
        <Media />
      </div>
    </article>
  </main>
  <Experience />
  <Technologies />
  <AboutMe />
  <Footer />
</div>
