---
import ArrowCard from "../components/shared/ArrowCard.astro";
import Card from "../shared/components/Card/Card";
import HeadingWithLine from "../shared/components/HeadingWithLine/HeadingWithLine";
import { getCollection } from "astro:content";
import type { Experience } from "../shared/types/Experience";

const experiences = await getCollection("experience");

---

<section class="w-screen">
    <nav class="title-header">
        <HeadingWithLine
            tag="h2"
            color="rice"
            lineColor="pink"
            className=""
            animation="true"
            position="center">Experiencia</HeadingWithLine
        >
    </nav>

    <div class="flex justify-center">
        <div class="w-5/6 grid grid-cols-1 gap-1">
            {
                experiences.map((experience : Experience , i : number) => {
                    const {  data } = experience

                    const {
                        position,
                        company,
                        employment_type,
                        start_date,
                        end_date,
                        website,
                        skills,
                        id,
                    } = data;

                    let finishDate = 'now'

                    if (end_date != null){
                        finishDate = end_date
                    }

                    return (
                        <Card
                            company={company.concat(' · ',employment_type) }
                            date={start_date.concat(',',finishDate)}
                            skills={skills.join(',')}
                            id={id}
                            url={website}
                            client:load
                        >
                            <span
                            >
                                {position}
                            </span>
                        </Card>
                        <div>
                            {i !== (experiences.length-1) && <ArrowCard class="mt-8 mb-8 w-15 h-15"/>  } 
                        </div>                        
                    );
                })
            }
        </div>
    </div>
</section>
