---

import Logo from "@/assets/logo.webp?url";
---
<footer class="dark:bg-industrial p-4  dark:text-rice bg-core-pink text-industrial flex flex-col justify-center items-center">
        <img
        src={Logo}
        alt="carlos V log"
        class="w-md"
        width={200}
        height={200}
        loading="lazy"
    />
    <div class="p-1.5 mb-2">
        Diseñado en Figma y programado en Visual Studio Code por mí. Desarrollado con Astro, React y Tailwind CSS, implementado con Vercel.
    </div>
</footer>