---
import Logo from '@/assets/logo.webp?url'
---

<footer class="bg-industrial text-rice flex flex-col items-center justify-center p-4">
  <img src={Logo} alt="carlos V log" class="w-md" width={200} height={200} loading="lazy" />
  <div class="mb-2 p-1.5">
    Diseñado en Figma y programado en Visual Studio Code. Desarrollado con Astro, React y Tailwind
    CSS, implementado con Vercel.
  </div>
</footer>
