<footer class="dark:bg-industrial p-4 w-[100%] dark:text-rice bg-core-pink text-industrial flex justify-center">
    <div class="w-4/5">
        Diseñado en Figma y programado en Visual Studio Code por mí. Desarrollado con Astro, React y Tailwind CSS, implementado con Vercel.
    </div>
</footer>