<nav>
    <div class="nav-item"></div>
    <div class="nav-item"><p>EXPERIENCIA</p></div>
    <div class="nav-item"><span>PROYECTOS</span></div>
    <div class="nav-item"><span>ACERCA DE MI</span></div>
</nav>
  

</head>
</style>