---
import BackHome from '@/icons/BackHome.astro'
import { Link } from '@/shared/components/Links/Links'
import ThemeSwitcher from '@/shared/components/ThemeSwitcher/ThemeSwitcher'

const { returnHome } = Astro.props
---

<nav class="absolute flex w-full flex-row justify-between p-3">
  <Link target="_self" ariaLabel="regreso a pagina principal" variant="ghost" href="/">
    {
      returnHome === 'true' && (
        <BackHome class="text-rice hover:text-matcha h-10 w-10 hover:cursor-pointer" />
      )
    }
  </Link>
  <ThemeSwitcher client:load />
</nav>
