---
import Css from "../icons/technologies/front/Css.astro";
import Java from "../icons/technologies/back/Java.astro";
import PostgresSql from "../icons/technologies/back/PostgresSql.astro";
import Python from "../icons/technologies/back/Python.astro";
import Php from "../icons/technologies/back/Php.astro";
import Node from "../icons/technologies/back/Node.astro";
import Docker from "../icons/technologies/back/Docker.astro";
import Pnpm from "../icons/technologies/tools/Pnpm.astro";
import Git from "../icons/technologies/tools/Git.astro";
import Webpack from "../icons/technologies/tools/Webpack.astro";

import JavaScript from "../icons/technologies/front/JavaScript.astro";
import React from "../icons/technologies/front/React.astro";
import Svelte from "../icons/technologies/front/Svelte.astro";
import Tailwind from "../icons/technologies/front/Tailwind.astro";
import TypeScript from "../icons/technologies/front/TypeScript.astro";
import Sass from "../icons/technologies/front/Sass.astro";
import Redux from "../icons/technologies/front/Redux.astro";
import HeadingWithLine from "../shared/components/HeadingWithLine/HeadingWithLine";
import { useTranslations } from "../i18n/uitls";
import type { languages } from "../i18n/ui";


const currentLang = Astro.currentLocale || "es"

const translate = useTranslations(
    currentLang as keyof typeof languages
)
---

<section class="w-screen">
    <nav class="title-header">
        <HeadingWithLine
            tag="h2"
            color="rice"
            lineColor="pink"
            className=""
            animation="true"
            position="center">{translate('technologies.header')}</HeadingWithLine
        >
    </nav>

    <div class="flex justify-center flex-col items-center">
        <div
            class="text-rice text-base w-5/6  px-6 sm:px-12   mb-10"
        >
            <p>
                Estas son algunas de las tecnologías con las que he trabajado
                recientemente.
            </p>
            <p>
                Para crear soluciones eficientes tanto en frontend como en
                backend, combinando diseño, rendimiento y escalabilidad.
            </p>
        </div>
        <div class="w-5/6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div
                class="p-4 rounded bg-industrial border border-transparent border-r-[3px] border-r-matcha border-l-[3px] border-l-matcha hover:border-l-[3px] hover:border-r-[3px] hover:border-l-core-pink hover:border-r-core-pink"
            >
                <HeadingWithLine
                    tag="h3"
                    color="matcha"
                    lineColor="pink"
                    className=""
                    animation="false"
                    position="baseline">Front End</HeadingWithLine
                >
                <div
                    class="text-rice grid grid-cols-2 gap-6 justify-items-center mt-4"
                >
                    <div class="flex justify-center flex-col items-center">
                        <JavaScript class="w-15 h-15" />
                        <span>JavaScript</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Css class="w-15 h-15" />
                        <span>CSS</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Tailwind class="w-15 h-15" />
                        <span>Tailwind</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <React class="w-15 h-15" />
                        <span>React</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Svelte class="w-15 h-15" />
                        <span>Svelte</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <TypeScript class="w-15 h-15" />
                        <span>TypeScript</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Sass class="w-15 h-15" />
                        <span>Sass</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Redux class="w-15 h-15" />
                        <span>Redux</span>
                    </div>
                </div>
            </div>
            <div
                class="p-4 rounded bg-industrial border border-transparent border-r-[3px] border-r-matcha border-l-[3px] border-l-matcha hover:border-l-[3px] hover:border-r-[3px] hover:border-l-core-pink hover:border-r-core-pink"
            >
                <HeadingWithLine
                    tag="h3"
                    color="matcha"
                    lineColor="pink"
                    className=""
                    animation="false"
                    position="baseline">Back End</HeadingWithLine
                >
                <div
                    class="text-rice grid grid-cols-2 gap-6 justify-items-center mt-4"
                >
                    <div class="flex justify-center flex-col items-center">
                        <Java class="w-15 h-15" />
                        <span>Java</span>
                    </div>

                    <div class="flex justify-center flex-col items-center">
                        <PostgresSql class="w-15 h-15" />
                        <span>PostgreSQL</span>
                    </div>

                    <div class="flex justify-center flex-col items-center">
                        <Python class="w-15 h-15" />
                        <span>Python</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Php class="w-15 h-15" />
                        <span>PHP</span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Node class="w-15 h-15" />
                        <span>Node.js </span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Docker class="w-15 h-15" />
                        <span>Docker </span>
                    </div>
                </div>
            </div>
            <div
                class="p-4 rounded bg-industrial border border-transparent border-r-[3px] border-r-matcha border-l-[3px] border-l-matcha hover:border-l-[3px] hover:border-r-[3px] hover:border-l-core-pink hover:border-r-core-pink"
            >
                <HeadingWithLine
                    tag="h3"
                    color="matcha"
                    lineColor="pink"
                    className=""
                    animation="false"
                    position="baseline">Herramientas</HeadingWithLine
                >
                <div
                    class="text-rice grid grid-cols-2 gap-6 justify-items-center mt-4"
                >
                    <div class="flex justify-center flex-col items-center">
                        <Pnpm class="w-15 h-15" />
                        <span>pnpm </span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Git class="w-15 h-15" />
                        <span>Git </span>
                    </div>
                    <div class="flex justify-center flex-col items-center">
                        <Webpack class="w-15 h-15" />
                        <span>Webpack </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
