---
import HeadingWithLine from "../shared/components/HeadingWithLine/HeadingWithLine";
import Card from "../shared/components/Card/Card";
import Footer from "./Footer.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from '../icons/GithubIcon.astro'
import MailIcon from "../icons/MailIcon.astro";
import AboutMe from "./AboutMe.astro";
import ArrowIcon from "../icons/ArrowIcon.astro";
import Technologies from "./Technologies.astro";
import Experience from "./Experience.astro";
---

<div id="container">
	<main class="w-screen flex justify-center items-center flex-col">
		<section
			class="w-5/6 rounded bg-industrial p-4 h-dvh flex flex-col justify-center"
		>
			<HeadingWithLine
				tag="h1"
				color="rice"
				lineColor="pink"
				className=""
				animation="true"
				position="baseline">CARLOS V</HeadingWithLine
			>
			<HeadingWithLine
				tag="h2"
				color="matcha"
				lineColor="pink"
				className=""
				animation="true"
				position="baseline">Frontend Developer</HeadingWithLine
			>
			<p class="text-rice sm:text-[20px]  mt-10 font-medium">Me apasiona crear software <strong>eficiente</strong>, <strong>escalable</strong> y orientado a brindar la mejor <strong>experiencia de usuario</strong>.</p>
			<div class="grid-simple sm:[--cols:3]">
				<div class="item">
					<LinkedInIcon class="w-7 h-7" />
				</div>
				<div class="item">
					<GithubIcon class="w-7 h-7" />
				</div>
				<div class="item">
					<MailIcon class="w-7 h-7" />
				</div>
			</div>
			<div class="absolute bottom-0 left-1/2 -translate-x-1/2 transform flex items-center flex-col mb-2.5">
				<span class=" text-rice text-sm">Quién soy</span>
				<ArrowIcon class="w-7 h-7  text-core-pink transition-colors"/>
			</div>
		</section>

		<Experience/>
		<Technologies/>
		<AboutMe/>
	</main>
</div>
