---
import HeadingWithLine from "../shared/components/HeadingWithLine/HeadingWithLine";
import Footer from "./Footer.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import AboutMe from "./AboutMe.astro";
import Technologies from "./Technologies.astro";
import Experience from "./Experience.astro";
import Link from "./shared/Link.astro";
import FlatIcon from "../icons/FlatIcon.astro";
---

<div id="container">
	<main class="w-full ">
		<section
			class="w-screen [background:radial-gradient(100%_21%_at_30%_2%,#A3B9A2_20%,#0D0D0D_100%)] h-dvh flex flex-col justify-center items-center"
		>
			<div class=" w-5/6  p-3">
				<HeadingWithLine
					tag="h1"
					color="rice"
					lineColor="pink"
					className=""
					animation="true"
					position="baseline">CARLOS V</HeadingWithLine
				>
				<HeadingWithLine
					tag="h2"
					color="matcha"
					lineColor="pink"
					className=""
					animation="true"
					position="baseline">Frontend Developer</HeadingWithLine
				>
				<p class="text-rice text-base sm:text-xl mt-10">
					Me apasiona crear software <strong>eficiente</strong>, <strong
						>escalable</strong>
					 y orientado a brindar la mejor <strong
						>experiencia de usuario</strong
					>.
				</p>
				<div class="flex items-center gap-5">
					<FlatIcon class="w-10 h-10 text-core-pink" />
					<spa class="text-matcha text-sm">Disponible para nuevas oportunidades</spa>
				</div>
				<div class="grid-simple sm:[--cols:3]">
					<Link
						href="https://www.linkedin.com/in/carlos-v-d-365394127/"
						title="LinkedIn"
					>
						<LinkedInIcon class="w-7 h-7" />
					</Link>
					<Link href="https://github.com/carlske" title="Github">
						<GithubIcon class="w-7 h-7" />
					</Link>
					<Link
						href="mailto:fernancarldiaz@outlook.com"
						title="Correo"
					>
						<MailIcon class="w-7 h-7" />
					</Link>
				</div>
		</section>

		<Experience />
		<Technologies />
		<AboutMe />
		<Footer />
	</main>
</div>
