---
import ButtonLink from "../../shared/components/ButtonLink/ButtonLink";
import Chip from "../../shared/components/Chip/Chip";
import ChipList from "../../shared/components/ChipList/ChipList";
import type { Project } from "../../shared/types/Experience";

const { title, skills, description, link } = Astro.props;
---

<article
    class="p-4 rounded bg-industrial border border-transparent border-r-[3px] border-r-matcha border-l-[3px] border-l-matcha hover:border-l-[3px] hover:border-r-[3px] hover:border-l-core-pink hover:border-r-core-pink"
>
    <header class="mb-2">
        <h2 class="text-wasabi font-bold text-xl">
            {title}
        </h2>
    </header>
    
    <div class="h-[3px] w-full mt-4 opacity-10 bg-wasabi"></div>

    <section class="mt-7">
        <ChipList skills={skills}></ChipList>
    </section>
    <section class="mt-4 p-2 text-sm">
        <p class="text-rice">
            {description}
        </p>
        <div class="h-[3px] w-full mt-4 opacity-10 bg-wasabi"></div>

    </section>

    <section class="mt-2">
        <ButtonLink link={link} type="secundary">Visitar</ButtonLink>
    </section>
</article>
