---
import '@/styles/global.css'
import '@fontsource/michroma'
import '@fontsource-variable/quicksand'
import '@fontsource-variable/roboto-mono'
import { ClientRouter } from 'astro:transitions'
import Theme from '@/shared/components/Theme/Theme'
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Portafolio de Carlos V." />
    <title>Portafolio</title>
    <script>
      try {
        const savedTheme = localStorage.getItem('darkTheme')
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches
        const theme = savedTheme || (prefersDark ? 'dark' : 'light')
        document.documentElement.setAttribute('data-theme', theme)
      } catch (e) {
        console.error('Error setting theme:', e)
      }
    </script>
    <ClientRouter />
  </head>
  <body>
    <Theme client:load />
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Roboto Mono Variable', monospace;
  }
</style>
