---
import { AccentHeadingSubtitle } from '@/shared/components/AccentHeading/AccentHeading'
const { heading, className, background } = Astro.props

let bg = 'bg-deep-black'

if (background) {
  bg = background
}
---

<section class=`w-screen ${bg}` aria-label={`${heading}-seccion`}>
  <article class="bg-deep-black sticky bottom-0 top-0 z-10 p-8">
    <AccentHeadingSubtitle color="rice" animation="true" position="center"
      >{heading}</AccentHeadingSubtitle
    >
  </article>
  <div class={`${className !== 'undefined' ? className : ''} flex justify-center`}>
    <slot />
  </div>
</section>
